# gradle specific
build/
.gradle/
out/
server/gradle/wrapper/gradle-wrapper.jar

# IDEA specific
*.iml
.idea/

# NPM
node_modules/
typings/
npm-debug.log

#Typescript
client/app/**/*.js
client/app/**/*.map

logs/
