body {
    padding-top: 70px;
    padding-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.caption {
    height: 130px;
    overflow: hidden;
}
.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 50%;
}
.thumbnail {
    padding: 5;
}